
<div class="container-about">
    <div class="hola-about">

        <div class="message">
            <h1>This is<span style="color: #c2185b;"> me </span></h1>
        </div>

        <div class="group">
             
            <div class="contact">
                <div class="subcontainer">
                    <img  src="/assets/images/aboutme/me.jpg" alt="">
                </div>
                <p>
                    Technical Architect graduated from the Universidad Politécnica de Madrid, in process of becoming a Fullstack programmer. I am a very curious person and I am <span style="color: #1de9b6;">always trying to learn new things</span>.
                    <br><br>
                    My journey in the world of drones began in summer 2019, when I received as a gift my first drone, the mavic mini. I had never flown any, but it only took a few minutes of the first flight to know that, without looking for it, <span style="color: #1de9b6;">I had found one of my passions</span>. 
                    <br><br>
                    Little by little I was gaining experience, at the same time that I was learning to edit videos, a very important part as well.
                    <br><br>
                    A short time later I decided to go more seriously with this, and I decided to get rid of my first drone to <span style="color: #1de9b6;">upgrade to a higher quality one</span>, and that is how in October 2020 I acquired the Mavic Air 2, a drone with better performance, automated tracking functions, hyperlapses ... Anyway, a more than decent drone to do any professional job.
                    <br><br>
                    Aware that I wanted to become even more professional, I decided to become a drone pilot. And so it was, in November 2020 <span style="color: #1de9b6;">I got my AESA certificate as a professional pilot</span> that enables me to fly drones up to 5 kg.
                    <br><br>
                    Since then I have recorded and edited several videos, I have recorded and edited a short film and I have participated in others.
                    <br><br>
                    Personally, <span style="color: #1de9b6;">I really enjoy the flight, but I enjoy even more the creative part</span>: thinking of an idea, what I want to convey with it, and how to develop it.
                </p>
                <div class="subcontainer">
                    <img  src="/assets/images/aboutme/me2.jpg" alt="">
                </div>
            </div>
        </div>
        
    </div>
</div>

