<div class="video-container">
    <div class="hola-video">
        <div >
            <h1 class="message">Don't try to tell it, better <span style="color: #c2185b;"> show </span>it</h1>
        </div>
    
        <iframe class="principal-video" loading="lazy" src="https://www.youtube.com/embed/w3w8TGDNmWs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <div >
            <h1 class="message">Do you want<span style="color: #c2185b;"> more? </span>Don't worry</h1>
        </div>
   
        <div class="video-grid">
                <div class="video">
                    <iframe loading="lazy" src="https://www.youtube.com/embed/d99S9tLFlrI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe loading="lazy" src="https://www.youtube.com/embed/sbDwmPqCHfQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe loading="lazy" src="https://www.youtube.com/embed/nuen_bAoimc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
        </div>    
    </div>
</div>


