<article>
  <header>
      <p>Drone Delirium</p>
  </header>
  
  <main>
    <mat-tab-group dynamicHeight mat-align-tabs="center" animationDuration="250ms">
      <mat-tab label="Photography"><app-photo></app-photo></mat-tab>
      <mat-tab label="Video"><app-video></app-video></mat-tab>
      <mat-tab label="Contact"><app-contact></app-contact></mat-tab>
    </mat-tab-group>
  </main>
  
  <footer>
    <div>
      <p>
        Made with<span style="color: black; font-size:30px"> &hearts; </span>in Madrid
      </p>
      <a href="https://www.instagram.com/drone_delirium/">
        <img src="../assets/images/icons/instagram.png" alt="">
      </a>
      <a href="https://www.youtube.com/channel/UCb2jnC4eJ81NjBc_eY-UWmg">
        <img src="../assets/images/icons/youtube.png" alt="">
      </a>
      <a href="https://www.linkedin.com/in/angel-serrano-noguerales/">
        <img src="../assets/images/icons/linkedin.png" alt="">
      </a>
      <a href="https://github.com/AngelSerranone">
        <img src="../assets/images/icons/github.png" alt="">
      </a>
    </div>
      
  </footer>
  
</article>