.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

.container p {
    padding: 30px;
    margin-top: 40px;
    text-justify: distribute;
    color: white;
    font-size: 16px;
    width: 87%;
    background-color: rgba(255,255,255,.1);
    border-radius: 5px;

}

.sub-container{
    width: 100%;
    padding-top: 5px;
    color: white;
}

.sub-container-button{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
   
}