<div class="container">
    <div class="hola">

        <div class="message">
            <h1>Do you have<span style="color: #c2185b;"> something </span>to tell?</h1>
        </div>

        <div class="contact">
            <p>
                If you want to contact me for any <span style="color: #1de9b6;">business</span> or collaboration issue, 
                or you just want to tell me that you loved my images, 
                I will be happy to hear from you <span style="color: #c2185b;"> &hearts; </span>
            </p>
        </div>
    
        
        <form (ngSubmit)="storeContact(formDirective)" [formGroup]="form" #formDirective="ngForm">
                
            <mat-form-field appearance="fill" class="sub-container">
                <mat-label>First Name *</mat-label>
                <input type="text" matInput formControlName="name" placeholder="Enter your first name">
                <mat-error *ngIf="name.hasError('required')">
                    Your first name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="name.hasError('nameValidator')">
                    Your first name has a <strong>wrong</strong> format
                </mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill" class="sub-container">
                <mat-label>Last Name *</mat-label>
                <input type="text" matInput formControlName="lastName" placeholder="Enter your last name">
                <mat-error *ngIf="lastName.hasError('required')">
                    Your last name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="lastName.hasError('nameValidator')">
                    Your first last name has a <strong>wrong</strong> format
                </mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill" class="sub-container">
                <mat-label>Email *</mat-label>
                <input type="text" matInput formControlName="email" placeholder="pat@example.com">
                <mat-error *ngIf="email.hasError('required')">
                    Your email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="email.hasError('emailValidator')">
                    Your email has an <strong>invalid</strong> format
                </mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill" class="sub-container">
                <mat-label>Telephone number</mat-label>
                <input type="text" matInput formControlName="telephoneNumber" placeholder="(+34) 678 678 678">
            </mat-form-field>
        
            <mat-form-field appearance="fill" class="sub-container">
                <mat-label>Message *</mat-label>
                <textarea matInput formControlName="message" placeholder="Tell me something :)"></textarea>
                <mat-error *ngIf="message.hasError('required')">
                    Your message is <strong>required</strong> :(
                </mat-error>
            </mat-form-field>

            <div class="sub-container-legal">
                <mat-checkbox class="sub-container-check" formControlName="legal" [(ngModel)]="checked">I Agree to </mat-checkbox>
                <p class="sub-container-privacy" style="color: #1de9b6;" (click)="openDialog()">Privacy Policy</p>
                
            </div>
            <mat-error *ngIf="checked === false && legal.touched" class="error">
                You have to <strong>accept</strong> the privacy policy
            </mat-error>
        
            <button mat-flat-button color="primary" [disabled]="form.invalid || checked === false" class="sub-container-button">Submit</button>
        </form>
    </div>
    
</div>



