.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
}

.hola-form {
    max-width: 700px;
    margin: 0 50px;
}

.contact {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
    color: white;
    font-size: 20px;
    width: 100%;
    background-color: rgb(50, 53, 50);
    border-radius: 5px;
}

.contact p {
    padding: 30px;
}

.sub-container{
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
    color: white;
    
}

.sub-container-legal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: white;
    flex-direction: column;
}

.sub-container-legal div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.sub-container-check{
    flex:1;
    font-size: 18px;
    justify-self: right;
    text-align: right;
    margin-bottom: 5px;
    margin-right: 5px;
    color: white;
}

.sub-container-privacy{
    flex:1;
    font-size: 18px;
    margin-bottom: 5px!important;
    color: white;
    cursor: pointer;
    
}



.sub-container-button{
    width: 100%;
    margin: 45px 0 100px 0;
    font-size: 18px;
    padding: 5px;
}

.sub-container-button:disabled {
    background-color: rgb(50, 53, 50)!important;
}



.error {
    text-align: center;
}

.message {
    width: 100%;
    color: white;
    margin: 35px 0 0px 0;
    text-align: center;
    
}

.message h1 {
    font-size: 60px;
    line-height: 1.2;
}



.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(50, 53, 50); 
}

input {
    background-color: rgb(50, 53, 50)!important; 
}