<div class="container">
    <div class="message">
        <h1>The <span style="color: #c2185b;"> world</span>, from another <span style="color: #c2185b;"> perspective</span></h1>
    </div>
</div>

<div class="container">
    <img class="welcome" src="/assets/images/pano/pano3.jpg" alt="">
</div>
    
<div class="container">
    <div class="photo-grid">
        <div class="text">
            <h1>
                Take a <span style="color: #c2185b;"> look</span> at my gallery
            </h1>
        </div>
        <div *ngFor="let photo of photoList">
            <div class="photo">
                <img mat-button (click)="openDialog(photo)" src="/assets/images/square/{{photo.photoUrl}}" alt="">
            </div>
        </div>
    </div>
</div>



 