<div class="container">
    <div class="message">
        <h1>The world, from another perspective</h1>
    </div>
</div>

<div class="container">
    <img class="welcome" src="/assets/images/pano/pano3.jpg" alt="">
</div>
    
<div class="container">
    <div class="photo-grid">
        <div class="text">
            <h1>
                Gallery
            </h1>
        </div>
        <div *ngFor="let photo of photoList">
            <div class="photo">
                <img mat-button (click)="openDialog(photo)" src="/assets/images/square/{{photo.photoUrl}}" alt="">
            </div>
        </div>
    </div>
</div>



 